6
Bob
Bob
ini bio
08765432190

Public
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
R * R * R * R * R *
Carol
Carol



Public





Dika
Dika



Public





Adit
Adit



Public





Carolina
Carolina



Public





Dikako
Dikako



Public





0 1 0 0 0 0
1 0 1 0 0 0
0 1 0 0 0 0
0 0 0 0 1 0
0 0 0 1 0 1
0 0 0 0 1 0
0
